<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.wf.data.dao.datarepo.DatawareFinalRegisteredArpuDao">
	
	<sql id="datawareFinalRegisteredArpuColumns">
		t.id,
		t.new_users,
		t.recharge_1,
		t.arpu_1,
		t.recharge_2,
		t.arpu_2,
		t.recharge_3,
		t.arpu_3,
		t.recharge_4,
		t.arpu_4,
		t.recharge_5,
		t.arpu_5,
		t.recharge_6,
		t.arpu_6,
		t.recharge_7,
		t.arpu_7,
		t.recharge_15,
		t.arpu_15,
		t.recharge_30,
		t.arpu_30,
		t.recharge_60,
		t.arpu_60,
		t.recharge_90,
		t.arpu_90,
		t.channel_name,
		t.parent_id,
		t.channel_id,
		t.business_date,
		t.create_time,
		t.update_time,
		t.delete_flag
	</sql>
	
	<sql id="datawareFinalRegisteredArpuWhere">
		t.delete_flag = #{DEL_FLAG_NORMAL}
	</sql>
	
	<sql id="datawareFinalRegisteredArpuJoins">
	</sql>
	
	<select id="get" resultType="DatawareFinalRegisteredArpu">
		SELECT <include refid="datawareFinalRegisteredArpuColumns"/> FROM dataware_final_registered_arpu t WHERE id = #{id}
	</select>
	<select id="findList" resultType="DatawareFinalRegisteredArpu">
		SELECT <include refid="datawareFinalRegisteredArpuColumns"/> FROM dataware_final_registered_arpu t <include refid="datawareFinalRegisteredArpuJoins"/>
		WHERE <include refid="datawareFinalRegisteredArpuWhere"/> ORDER BY id desc LIMIT #{start}, #{length}
	</select>
	<select id="count" resultType="long">
		SELECT COUNT(*) FROM dataware_final_registered_arpu t WHERE <include refid="datawareFinalRegisteredArpuWhere" />
	</select>
	
	<insert id="insert">
		INSERT INTO dataware_final_registered_arpu (
			id, 
			new_users, 
			recharge_1, 
			arpu_1, 
			recharge_2, 
			arpu_2, 
			recharge_3, 
			arpu_3, 
			recharge_4, 
			arpu_4, 
			recharge_5, 
			arpu_5, 
			recharge_6, 
			arpu_6, 
			recharge_7, 
			arpu_7, 
			recharge_15, 
			arpu_15, 
			recharge_30, 
			arpu_30, 
			recharge_60, 
			arpu_60, 
			recharge_90, 
			arpu_90, 
			channel_name, 
			parent_id, 
			channel_id, 
			business_date, 
			create_time, 
			delete_flag 
		) VALUES (
			#{id}, 
			#{newUsers}, 
			#{recharge1}, 
			#{arpu1}, 
			#{recharge2}, 
			#{arpu2}, 
			#{recharge3}, 
			#{arpu3}, 
			#{recharge4}, 
			#{arpu4}, 
			#{recharge5}, 
			#{arpu5}, 
			#{recharge6}, 
			#{arpu6}, 
			#{recharge7}, 
			#{arpu7}, 
			#{recharge15}, 
			#{arpu15}, 
			#{recharge30}, 
			#{arpu30}, 
			#{recharge60}, 
			#{arpu60}, 
			#{recharge90}, 
			#{arpu90}, 
			#{channelName}, 
			#{parentId}, 
			#{channelId}, 
			#{businessDate}, 
			#{createTime}, 
			#{deleteFlag} 
		)
	</insert>
	
	<update id="update">
		UPDATE dataware_final_registered_arpu SET
			new_users = #{newUsers}, 
			recharge_1 = #{recharge1}, 
			arpu_1 = #{arpu1}, 
			recharge_2 = #{recharge2}, 
			arpu_2 = #{arpu2}, 
			recharge_3 = #{recharge3}, 
			arpu_3 = #{arpu3}, 
			recharge_4 = #{recharge4}, 
			arpu_4 = #{arpu4}, 
			recharge_5 = #{recharge5}, 
			arpu_5 = #{arpu5}, 
			recharge_6 = #{recharge6}, 
			arpu_6 = #{arpu6}, 
			recharge_7 = #{recharge7}, 
			arpu_7 = #{arpu7}, 
			recharge_15 = #{recharge15}, 
			arpu_15 = #{arpu15}, 
			recharge_30 = #{recharge30}, 
			arpu_30 = #{arpu30}, 
			recharge_60 = #{recharge60}, 
			arpu_60 = #{arpu60}, 
			recharge_90 = #{recharge90}, 
			arpu_90 = #{arpu90}, 
			channel_name = #{channelName}, 
			parent_id = #{parentId}, 
			channel_id = #{channelId}, 
			business_date = #{businessDate}, 
			delete_flag = #{deleteFlag} 
		WHERE id = #{id}
	</update>

	<delete id="delete">
		UPDATE dataware_final_registered_arpu SET delete_flag = 1 WHERE ID = #{id} 
	</delete>
</mapper>

