<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.wf.data.dao.datarepo.DatawareFinalChannelCostDao">
	
	<sql id="datawareFinalChannelCostColumns">
		t.id,
		t.recharge_amount,
		t.fragment_cost,
		t.kind_cost,
		t.total_cost,
		t.cost_rate,
		t.channel_name,
		t.parent_id,
		t.channel_id,
		t.business_date,
		t.create_time,
		t.update_time,
		t.delete_flag
	</sql>
	
	<sql id="datawareFinalChannelCostWhere">
		t.delete_flag = #{DEL_FLAG_NORMAL}
	</sql>
	
	<sql id="datawareFinalChannelCostJoins">
	</sql>
	
	<select id="get" resultType="DatawareFinalChannelCost">
		SELECT <include refid="datawareFinalChannelCostColumns"/> FROM dataware_final_channel_cost t WHERE id = #{id}
	</select>
	<select id="findList" resultType="DatawareFinalChannelCost">
		SELECT <include refid="datawareFinalChannelCostColumns"/> FROM dataware_final_channel_cost t <include refid="datawareFinalChannelCostJoins"/>
		WHERE <include refid="datawareFinalChannelCostWhere"/> ORDER BY id desc LIMIT #{start}, #{length}
	</select>
	<select id="count" resultType="long">
		SELECT COUNT(*) FROM dataware_final_channel_cost t WHERE <include refid="datawareFinalChannelCostWhere" />
	</select>
	
	<insert id="insert">
		INSERT INTO dataware_final_channel_cost (
			id, 
			recharge_amount, 
			fragment_cost, 
			kind_cost, 
			total_cost, 
			cost_rate, 
			channel_name, 
			parent_id, 
			channel_id, 
			business_date, 
			create_time, 
			delete_flag 
		) VALUES (
			#{id}, 
			#{rechargeAmount}, 
			#{fragmentCost}, 
			#{kindCost}, 
			#{totalCost}, 
			#{costRate}, 
			#{channelName}, 
			#{parentId}, 
			#{channelId}, 
			#{businessDate}, 
			#{createTime}, 
			#{deleteFlag} 
		)
	</insert>
	
	<update id="update">
		UPDATE dataware_final_channel_cost SET
			recharge_amount = #{rechargeAmount}, 
			fragment_cost = #{fragmentCost}, 
			kind_cost = #{kindCost}, 
			total_cost = #{totalCost}, 
			cost_rate = #{costRate}, 
			channel_name = #{channelName}, 
			parent_id = #{parentId}, 
			channel_id = #{channelId}, 
			business_date = #{businessDate}, 
			delete_flag = #{deleteFlag} 
		WHERE id = #{id}
	</update>

	<delete id="delete">
		UPDATE dataware_final_channel_cost SET delete_flag = 1 WHERE ID = #{id} 
	</delete>
</mapper>

