<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.wf.data.dao.datarepo.DatawareFinalChannelConversionDao">
	
	<sql id="datawareFinalChannelConversionColumns">
		t.id,
		t.registered_count,
		t.dau_count,
		t.dau_registered,
		t.dau_older,
		t.gamedau_count,
		t.gamedau_registered,
		t.gamedau_older,
		t.betting_count,
		t.betting_registered,
		t.betting_older,
		t.recharge_count,
		t.recharge_registered,
		t.recharge_older,
		t.pay_rate,
		t.pay_registered_rate,
		t.pay_older_rate,
		t.dau_registered_rate,
		t.gamedau_rate,
		t.gamedau_registered_rate,
		t.gamedau_older_rate,
		t.betting_rate,
		t.betting_registered_rate,
		t.betting_older_rate,
		t.recharge_rate,
		t.recharge_registered_rate,
		t.recharge_older_rate,
		t.registered_rate,
		t.channel_name,
		t.parent_id,
		t.channel_id,
		t.business_date,
		t.create_time,
		t.update_time,
		t.delete_flag
	</sql>
	
	<sql id="datawareFinalChannelConversionWhere">
		t.delete_flag = #{DEL_FLAG_NORMAL}
	</sql>
	
	<sql id="datawareFinalChannelConversionJoins">
	</sql>
	
	<select id="get" resultType="DatawareFinalChannelConversion">
		SELECT <include refid="datawareFinalChannelConversionColumns"/> FROM dataware_final_channel_conversion t WHERE id = #{id}
	</select>
	<select id="findList" resultType="DatawareFinalChannelConversion">
		SELECT <include refid="datawareFinalChannelConversionColumns"/> FROM dataware_final_channel_conversion t <include refid="datawareFinalChannelConversionJoins"/>
		WHERE <include refid="datawareFinalChannelConversionWhere"/> ORDER BY id desc LIMIT #{start}, #{length}
	</select>
	<select id="count" resultType="long">
		SELECT COUNT(*) FROM dataware_final_channel_conversion t WHERE <include refid="datawareFinalChannelConversionWhere" />
	</select>
	
	<insert id="insert">
		INSERT INTO dataware_final_channel_conversion (
			id, 
			registered_count, 
			dau_count, 
			dau_registered, 
			dau_older, 
			gamedau_count, 
			gamedau_registered, 
			gamedau_older, 
			betting_count, 
			betting_registered, 
			betting_older, 
			recharge_count, 
			recharge_registered, 
			recharge_older, 
			pay_rate, 
			pay_registered_rate, 
			pay_older_rate, 
			dau_registered_rate, 
			gamedau_rate, 
			gamedau_registered_rate, 
			gamedau_older_rate, 
			betting_rate, 
			betting_registered_rate, 
			betting_older_rate, 
			recharge_rate, 
			recharge_registered_rate, 
			recharge_older_rate, 
			registered_rate, 
			channel_name, 
			parent_id, 
			channel_id, 
			business_date, 
			create_time, 
			delete_flag 
		) VALUES (
			#{id}, 
			#{registeredCount}, 
			#{dauCount}, 
			#{dauRegistered}, 
			#{dauOlder}, 
			#{gamedauCount}, 
			#{gamedauRegistered}, 
			#{gamedauOlder}, 
			#{bettingCount}, 
			#{bettingRegistered}, 
			#{bettingOlder}, 
			#{rechargeCount}, 
			#{rechargeRegistered}, 
			#{rechargeOlder}, 
			#{payRate}, 
			#{payRegisteredRate}, 
			#{payOlderRate}, 
			#{dauRegisteredRate}, 
			#{gamedauRate}, 
			#{gamedauRegisteredRate}, 
			#{gamedauOlderRate}, 
			#{bettingRate}, 
			#{bettingRegisteredRate}, 
			#{bettingOlderRate}, 
			#{rechargeRate}, 
			#{rechargeRegisteredRate}, 
			#{rechargeOlderRate}, 
			#{registeredRate}, 
			#{channelName}, 
			#{parentId}, 
			#{channelId}, 
			#{businessDate}, 
			#{createTime}, 
			#{deleteFlag} 
		)
	</insert>
	
	<update id="update">
		UPDATE dataware_final_channel_conversion SET
			registered_count = #{registeredCount}, 
			dau_count = #{dauCount}, 
			dau_registered = #{dauRegistered}, 
			dau_older = #{dauOlder}, 
			gamedau_count = #{gamedauCount}, 
			gamedau_registered = #{gamedauRegistered}, 
			gamedau_older = #{gamedauOlder}, 
			betting_count = #{bettingCount}, 
			betting_registered = #{bettingRegistered}, 
			betting_older = #{bettingOlder}, 
			recharge_count = #{rechargeCount}, 
			recharge_registered = #{rechargeRegistered}, 
			recharge_older = #{rechargeOlder}, 
			pay_rate = #{payRate}, 
			pay_registered_rate = #{payRegisteredRate}, 
			pay_older_rate = #{payOlderRate}, 
			dau_registered_rate = #{dauRegisteredRate}, 
			gamedau_rate = #{gamedauRate}, 
			gamedau_registered_rate = #{gamedauRegisteredRate}, 
			gamedau_older_rate = #{gamedauOlderRate}, 
			betting_rate = #{bettingRate}, 
			betting_registered_rate = #{bettingRegisteredRate}, 
			betting_older_rate = #{bettingOlderRate}, 
			recharge_rate = #{rechargeRate}, 
			recharge_registered_rate = #{rechargeRegisteredRate}, 
			recharge_older_rate = #{rechargeOlderRate}, 
			registered_rate = #{registeredRate}, 
			channel_name = #{channelName}, 
			parent_id = #{parentId}, 
			channel_id = #{channelId}, 
			business_date = #{businessDate}, 
			delete_flag = #{deleteFlag} 
		WHERE id = #{id}
	</update>

	<delete id="delete">
		UPDATE dataware_final_channel_conversion SET delete_flag = 1 WHERE ID = #{id} 
	</delete>
</mapper>

