<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.wf.data.dao.datarepo.DatawareConvertDayDao">

	<sql id="datawareConvertDayColumns">
		t.id,
		t.user_id,
		t.recharge_count,
		t.third_amount,
		t.biz_type,
		t.parent_id,
		t.channel_id,
		t.convert_date,
		t.create_time,
		t.update_time,
		t.delete_flag
	</sql>

	<sql id="datawareConvertDayWhere">
		t.delete_flag = #{DEL_FLAG_NORMAL}
	</sql>

	<sql id="datawareConvertDayJoins">
	</sql>

	<select id="get" resultType="DatawareConvertDay">
		SELECT <include refid="datawareConvertDayColumns"/> FROM dataware_convert_day t WHERE id = #{id}
	</select>
	<select id="findList" resultType="DatawareConvertDay">
		SELECT <include refid="datawareConvertDayColumns"/> FROM dataware_convert_day t <include refid="datawareConvertDayJoins"/>
		WHERE <include refid="datawareConvertDayWhere"/> ORDER BY id desc LIMIT #{start}, #{length}
	</select>

	<select id="getCountByTime" resultType="long">
		SELECT COUNT(*) FROM dataware_convert_day t
		WHERE  1=1 AND t.delete_flag =0
		<if test="convertDate != null and convertDate != ''">
			AND  t.convert_date = #{convertDate}
		</if>
	</select>

	<select id="count" resultType="long">
		SELECT COUNT(*) FROM dataware_convert_day t WHERE <include refid="datawareConvertDayWhere" />
	</select>

	<insert id="insert">
		INSERT INTO dataware_convert_day (
		id,
		user_id,
		recharge_count,
		third_amount,
		biz_type,
		parent_id,
		channel_id,
		convert_date,
		create_time,
		delete_flag
		) VALUES (
		#{id},
		#{userId},
		#{rechargeCount},
		#{thirdAmount},
		#{bizType},
		#{parentId},
		#{channelId},
		#{convertDate},
		#{createTime},
		#{deleteFlag}
		)
	</insert>

	<update id="update">
		UPDATE dataware_convert_day SET
			user_id = #{userId},
			recharge_count = #{rechargeCount},
			third_amount = #{thirdAmount},
			biz_type = #{bizType},
			parent_id = #{parentId},
			channel_id = #{channelId}, 
			convert_date = #{convertDate}, 
			delete_flag = #{deleteFlag} 
		WHERE id = #{id}
	</update>

	<delete id="delete">
		UPDATE dataware_convert_day SET delete_flag = 1 WHERE ID = #{id} 
	</delete>
</mapper>

