<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wf.data.dao.mycat.BehaviorRecordDao">
	
	<sql id="behaviorRecordColumns">
		t.id,
		t.user_id,
		t.behavior_event_id,
		t.channel_id,
		t.parent_channel_id,
		t.behavior_name,
		t.create_time,
		t.update_time,
		t.delete_flag
	</sql>
	
	<sql id="behaviorRecordWhere">
		t.delete_flag = #{DEL_FLAG_NORMAL}
	</sql>
	
	<select id="get" resultType="BehaviorRecord">
		SELECT <include refid="behaviorRecordColumns"/> 
		FROM uic_behavior_record t WHERE id = #{id}
	</select>
	
	<select id="findList" resultType="BehaviorRecord">
		SELECT <include refid="behaviorRecordColumns"/> 
		FROM uic_behavior_record t
		WHERE <include refid="behaviorRecordWhere"/> 
		ORDER BY id desc LIMIT #{start}, #{length}
	</select>
	<select id="count" resultType="long">
		SELECT COUNT(*) 
		FROM uic_behavior_record t
		WHERE <include refid="behaviorRecordWhere" />
	</select>
	
	<insert id="insert">
		INSERT INTO uic_behavior_record (
			id, 
			user_id, 
			behavior_event_id, 
			channel_id, 
			parent_channel_id, 
			behavior_name, 
			create_time, 
			delete_flag 
		) VALUES (
			#{id}, 
			#{userId}, 
			#{behaviorEventId}, 
			#{channelId}, 
			#{parentChannelId}, 
			#{behaviorName}, 
			#{createTime}, 
			#{deleteFlag} 
		)
	</insert>
	
	<update id="update">
		UPDATE uic_behavior_record SET
			user_id = #{userId}, 
			behavior_event_id = #{behaviorEventId}, 
			channel_id = #{channelId}, 
			parent_channel_id = #{parentChannelId}, 
			behavior_name = #{behaviorName}, 
			delete_flag = #{deleteFlag} 
		WHERE id = #{id}
	</update>

	<delete id="delete">
		UPDATE uic_behavior_record SET delete_flag = 1 WHERE ID = #{id}
	</delete>
</mapper>

