<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.wf.data.dao.trans.TransConvertDao">
	
	<sql id="transConvertColumns">
		t.id,
		t.user_id,
		t.order_sn,
		t.amount,
		t.third_order_sn,
		t.third_amount,
		t.source,
		t.pay_type,
		t.pay_method,
		t.status,
		t.merchant_code,
		t.audit_version,
		t.channel_id,
		t.biz_type,
		t.request_order_id,
		t.request_order_notify_status,
		t.success_time,
		t.create_time,
		t.update_time,
		t.delete_flag
	</sql>
	
	<sql id="transConvertWhere">
		t.delete_flag = #{DEL_FLAG_NORMAL}
		AND t.status=8
		<if test="p.userId!=null">
			AND t.user_id = #{p.userId}
		</if>
		<if test="p.bizType!=null and p.bizType!=''">
			AND t.biz_type = #{p.bizType}
		</if>
		<if test="p.startTime!=null and p.startTime!=''">
			AND t.success_time &gt;= #{p.startTime}
		</if>
		<if test="p.endTime!=null and p.endTime!=''">
			AND t.success_time &lt;= #{p.endTime}
		</if>
		<if test="p.channelId != null">
			AND channel_id = #{p.channelId}
		</if>
		<if test="p.parentId != null ">
			AND channel_id LIKE CONCAT(#{p.parentId}, '%')
		</if>
		<if test="p.merchantCode != null and p.merchantCode != ''">
			AND merchant_code = #{p.merchantCode}
		</if>
	</sql>
	
	<sql id="transConvertJoins">
	</sql>
	
	<select id="get" resultType="TransConvert">
		SELECT <include refid="transConvertColumns"/> FROM trans_convert t WHERE id = #{id}
	</select>
	<select id="findList" resultType="TransConvert">
		SELECT <include refid="transConvertColumns"/> FROM trans_convert t <include refid="transConvertJoins"/>
		WHERE <include refid="transConvertWhere"/> ORDER BY success_time desc LIMIT #{start}, #{length}
	</select>
	<select id="count" resultType="long">
		SELECT COUNT(*) FROM trans_convert t WHERE <include refid="transConvertWhere" />
	</select>
	
	<insert id="insert">
		INSERT INTO trans_convert (
			id, 
			user_id, 
			order_sn, 
			amount, 
			third_order_sn, 
			third_amount, 
			source, 
			pay_type, 
			pay_method,
			status,
			merchant_code,
			audit_version,
			channel_id,
			biz_type,
			request_order_id,
			request_order_notify_status,
			success_time,
			create_time,
			delete_flag
		) VALUES (
			#{id},
			#{userId},
			#{orderSn},
			#{amount},
			#{thirdOrderSn},
			#{thirdAmount},
			#{source},
			#{payType},
			#{payMethod},
			#{status},
			#{merchantCode},
			#{auditVersion},
			#{channelId},
			#{bizType},
			#{requestOrderId},
			#{requestOrderNotifyStatus},
			#{successTime},
			#{createTime}, 
			#{deleteFlag} 
		)
	</insert>
	
	<update id="update">
		UPDATE trans_convert SET
			user_id = #{userId}, 
			order_sn = #{orderSn}, 
			amount = #{amount}, 
			third_order_sn = #{thirdOrderSn}, 
			third_amount = #{thirdAmount}, 
			source = #{source}, 
			pay_type = #{payType}, 
			pay_method = #{payMethod},
			status = #{status},
			merchant_code = #{merchantCode},
			audit_version = #{auditVersion},
			channel_id = #{channelId},
			biz_type = #{bizType},
			request_order_id = #{requestOrderId},
			request_order_notify_status = #{requestOrderNotifyStatus},
			success_time = #{successTime},
			delete_flag = #{deleteFlag} 
		WHERE id = #{id}
	</update>

	<delete id="delete">
		UPDATE trans_convert SET delete_flag = 1 WHERE ID = #{id} 
	</delete>
</mapper>

