<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.wf.data.dao.fish.RoomFishInfoNewDao">
	
	<sql id="roomFishInfoColumns">
		t.id,
		t.room_id,
		t.fish_id,
		t.user_id,
		t.fish_config_id,
		t.amount,
		t.return_amount,
		t.road_id,
		t.appear_time,
		t.disappear_time,
		t.create_time,
		t.update_time,
		t.delete_flag
	</sql>
	
	<sql id="roomFishInfoWhere">
		t.delete_flag = #{DEL_FLAG_NORMAL}
	</sql>
	
	<sql id="roomFishInfoJoins">
	</sql>
	
	<select id="get" resultType="RoomFishInfoNew">
		SELECT <include refid="roomFishInfoColumns"/> FROM room_fish_info_new t WHERE id = #{id}
	</select>
	<select id="findList" resultType="RoomFishInfoNew">
		SELECT <include refid="roomFishInfoColumns"/> FROM room_fish_info_new t <include refid="roomFishInfoJoins"/>
		WHERE <include refid="roomFishInfoWhere"/> ORDER BY id desc LIMIT #{start}, #{length}
	</select>
	<select id="count" resultType="long">
		SELECT COUNT(*) FROM room_fish_info_new t WHERE <include refid="roomFishInfoWhere" />
	</select>
	
	<insert id="insert">
		INSERT INTO room_fish_info_new (
			id, 
			room_id, 
			fish_id, 
			user_id, 
			fish_config_id, 
			amount, 
			return_amount, 
			road_id, 
			appear_time, 
			disappear_time, 
			create_time, 
			delete_flag 
		) VALUES (
			#{id}, 
			#{roomId}, 
			#{fishId}, 
			#{userId}, 
			#{fishConfigId}, 
			#{amount}, 
			#{returnAmount}, 
			#{roadId}, 
			#{appearTime}, 
			#{disappearTime}, 
			#{createTime}, 
			#{deleteFlag} 
		)
	</insert>
	
	<update id="update">
		UPDATE room_fish_info_new SET
			room_id = #{roomId}, 
			fish_id = #{fishId}, 
			user_id = #{userId}, 
			fish_config_id = #{fishConfigId}, 
			amount = #{amount}, 
			return_amount = #{returnAmount}, 
			road_id = #{roadId}, 
			appear_time = #{appearTime}, 
			disappear_time = #{disappearTime}, 
			delete_flag = #{deleteFlag} 
		WHERE id = #{id}
	</update>

	<delete id="delete">
		UPDATE room_fish_info_new SET delete_flag = 1 WHERE ID = #{id} 
	</delete>
</mapper>

